.navbar {
  height:50px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  background-color: #25c0b3;
}
body{
  background-color: #B2EBF2;
}
h2{
  margin: 0 0 0 0;
  text-align: center;
  color: #6527BE;
  padding-left: 4px;
  padding-top: 4px;
}
.input{
height:40px;
margin-top: 2px;
margin-left:4px;
border-radius:5%;
border: 30px;
border-radius: 5%;
box-shadow: 3px;
}


li {
  float: right;
}

.active {
  display: block;
  color: #001C30;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
    cursor: pointer;
  
}
.create_quiz{
  height: 300px;
  background-color: #0D1282;
  border-radius: 3%;
 
}



.h1{
  color: #EDE4FF;
  text-align: center;
  padding-top: 100px;
  padding-left: 100px;
}
.play_quiz{
  height: 300px;
  background-color: #1D5B79;
  border-radius: 3%;
}
.active:hover {
  background-color: rgb(255, 255, 255);
  color: burlywood;
  border-radius: 10%;
}
.active{
text-align:left;

}